<div class="card"><div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda id tenetur, molestiae aperiam ex reiciendis quibusdam iusto dolor ipsa officia accusantium odio maxime corrupti rerum praesentium? Nihil animi incidunt iste alias eligendi, 
        eos explicabo porro delectus ea vitae culpa consequuntur?</p>
</div></div>